[submodule "zsh/oh-my-zsh"]
    path = zsh/oh-my-zsh 
    url = https://github.com/agaurav/oh-my-zsh.git 
[submodule "zsh/oh-my-zsh/themes"]
    path = zsh/oh-my-zsh/themes/powerlevel9k
    url = https://github.com/agaurav/powerlevel9k.git 
